<div class="receipe-container">
<h1>Recipe List</h1>
<button class= "add-recipe"><%= link_to "Add Recipe", new_recipe_path %></button>
    <div class="receipe-wrapper">
        <%@recipe.each do |recipe|%>
          <article class="receipe">
                <div class="left-box">
                    <h4><%= link_to recipe.name, recipe_path(recipe.id) %></h4>
                    <%if can? :destroy, recipe%>
                    <%=button_to "Remove", recipe, method: :delete,data: {turbo_confirm: "Are you shure mate?"}%>
                    <%end%>
                </div>
                <div class= "right-box">
                    <span><%=recipe.description%></span>
                </div>
            </article>
        <%end%>
    </div>
</div>