<div class= "receipe-container">
    <div class="receipe-wrapper">
        <%@receipe.each do |receipe|%>
       <div>
            <h1><%=receipe.name%></h1>

            <div>
                <div>Preparation time<%=receipe.preparation_time%></div>
                <div>Cooking time <%=receipe.cooking_time%></div>
                <div>steps go here....</div>

                <div>General shopping list</div>
            </div>

            <div>
                <div>Public<div>
                <div> Add Ingredient <div>
            </div>
       </div>
    </div>
</div>