<div class= "receipe-container">
    <div class="receipe-wrapper">
        
       <div>
            <h1><%=@recipe.name%></h1>

            <div>
                <div>Preparation time<%=@recipe.preparation_time%></div>
                <div>Cooking time <%=@recipe.cooking_time%></div>
                <div>steps go here....</div>

                <div>General shopping list</div>
            </div>

            <div>
                <div>Public<div>
                <div> Add Ingredient <div>
            </div>
       </div>
    </div>
</div>