<div class="receipe-wrapper">
        <%@recipe_food.each do |recipe|%>
          <article>
 
                    <span><%=recipe.quantity%></span>
                </div>
            </article>
        <%end%>